<div class="modal fade"
     id="modalBomberos"
     tabindex="-1"
     aria-hidden="true">

    <div class="modal-dialog modal-xl modal-dialog-centered">

        <div class="modal-content modal-bomberos">

            <div class="modal-header">

                <div>

                    <h4 class="mb-1">

                        <i class="bi bi-fire"></i>

                        Seleccionar Bombero

                    </h4>

                    <small>

                        Busque un bombero disponible para asignar al usuario.

                    </small>

                </div>

                <button class="btn-close btn-close-white"
                        data-bs-dismiss="modal">
                </button>

            </div>

            <div class="modal-body">

                <div class="input-group buscador-modal">

                    <span class="input-group-text">

                        <i class="bi bi-search"></i>

                    </span>

                    <input id="txtBuscarBombero"
                           class="form-control"
                           placeholder="Buscar por nombre, apellido o cédula..." />

                </div>

                <div id="contenidoBomberos"
                     class="tabla-modal mt-4">
                </div>

            </div>

        </div>

    </div>

</div>